.home-works
  a.work-block.wow.fadeIn(href="#/works/inner-spaces", data-wow-delay="0s")
    img(src="img/home_bg.jpg")
    .work-inner
      .work-caption
        .title Inner Spaces
        .year 2016
  a.work-block.wow.fadeIn(href="#/works/caves", data-wow-delay="0.2s")
    img(src="img/Cueva-2.jpg")
    .work-inner
      .work-caption
        .title Caves
        .year 2014