html(lang=en)
  head
    title Tomas Chernov

    meta(charset="UTF-8")
    meta(name="description" content="Tomás Chernov")
    meta(name="viewport" content='width=device-width, initial-scale=1, user-scalable=no')

    link(rel="shortcut icon" href="./favicon.ico")
    link(href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="css/style.css")
  body
    .main-outer
      include nav
      .inner-body.hide
        .main-content
    include scripts
