.main-nav
  position fixed
  display flex
  flex-direction column
  height 100%
  padding 0 10px
  width 100px
  z-index 150
  transform translateZ(0)
  font-weight 300
  &.home, &.inner-spaces, &.caves
    .works
      opacity 1
      .item-text
        border-left 1px solid #faa
        padding-left 4px
  .home-link
    margin 10px 0
    text-transform uppercase
    font-weight 300
    opacity 0.8
    transition opacity 0.15s ease-in-out
    &:hover
      opacity 1
    .item-text
      display block
      letter-spacing 1px
      &:first-child
        letter-spacing 0.42em
  .nav-item
    position relative
    margin 8px 0
    white-space nowrap
    line-height 16px
    color #222228
    opacity 0.6
    transition opacity 0.15s ease-in-out
    .item-text
      display inline-block
      font-size 14px
      letter-spacing 2px
    &:hover
      opacity 1
    &.expanded
      .expand
        transform rotateZ(180deg)
  .expand
    font-size 20px
    position relative
    top 2px
    margin-left 5px
    padding 5px
    display inline-block
    margin 0 0 2px 5px
    transition transform 0.2s ease-in-out
    transform-origin 50%
    cursor pointer
  .inner-list
    display none
    list-style none
    padding-left 5px
    li
      font-size 14px
      white-space nowrap
      margin 8px 0