.main-nav#main-nav
  a.home-link(href="#/" data-btn-handle="home")
    span.item-text Tomas
    span.item-text Chernov
  .main-nav-content
    .nav-item.works
      span.nav-title Works _
      ul.inner-list
        li.sculpture
          a.item-text(href="#/works/2017" data-btn-handle="2017") 2017
        li.inner-spaces
          a.item-text(href="#/works/2016" data-btn-handle="2016") 2016
    .nav-item.about-me
      span.nav-title About me _
      ul.inner-list
        li.cv
          a.item-text(href="#/about" data-btn-handle="") Bio / CV
  .mobile-nav#mobile-nav
    //- We have cont and inner so we can have padding to ease
    //- the clickability and still get the correct positioning
    .hamburger-cont
      .hamburger-inner
        .hamburger
        .hamburger-top
        .hamburger-bottom
    .mobile-nav-content
      .nav-item.works
        span.nav-title Works _
        ul.inner-list
          li.sculpture
            a.item-text(href="#/works/2017" data-btn-handle="2017") 2017
          li.inner-spaces
            a.item-text(href="#/works/2016" data-btn-handle="2016") 2016
      .nav-item.about-me
        span.nav-title About me _
        ul.inner-list
          li.cv
            a.item-text(href="#/about" data-btn-handle="") Bio / CV