.main-nav
  a.home-link(href="#/")
    span.item-text Tomas
    span.item-text Chernov
  .nav-item.works
    a(href="#/works").item-text Works
    span.expand +
    ul.inner-list
      li.inner-spaces
        a(href="#/works/inner-spaces") Inner Spaces
      li.caves
        a(href="#/works/caves") Caves
  .nav-item
    a(href="#/cv").item-text CV
  .nav-item
    a(href="#/bio").item-text Bio