.main-nav
  position fixed
  display flex
  flex-direction column
  height 100%
  padding 0 10px
  width 100px
  z-index 150
  transform translateZ(0)
  font-weight 300
  color #222228
  .home-link
    font-family 'Open Sans'
    margin 10px 0 5px 0
    text-transform lowercase
    opacity 0.75
    transition opacity 0.15s ease-in-out
    &:hover
      opacity 1
    .item-text
      position relative
      font-weight 300
      font-size 18px
      &:last-child
        font-weight 400
  .nav-item
    position relative
    margin 8px 0
    // white-space nowrap
    line-height 16px
    .item-text
      display inline-block
      font-size 12px
      letter-spacing 1px
      opacity 0.75
      transition opacity 0.15s ease-in-out
      &.selected
        opacity 1
        font-weight 400
      &:hover
        opacity 1
  .nav-title
    font-size 13px
  .inner-list
    list-style none
    padding-left 5px
    li
      font-size 14px
      white-space nowrap
      margin 8px 0