.main-nav#main-nav
  a.home-link(href="#/" data-btn-handle="home")
    span.item-text Tomas
    span.item-text Chernov
  .main-nav-content
    .nav-item.works
      span.nav-title Works _
      ul.inner-list
        li.sculpture
          a.item-text(href="#/works/sculpture" data-btn-handle="sculpture") Sculpture
        li.inner-spaces
          a.item-text(href="#/works/inner-spaces" data-btn-handle="inner-spaces") Inner Spaces
        li.caves
          a.item-text(href="#/works/caves" data-btn-handle="caves") Caves
    .nav-item.about-me
      span.nav-title About me _
      ul.inner-list
        li.cv
          a.item-text(href="#/about" data-btn-handle="") Bio / CV
  .mobile-nav#mobile-nav
    .hamburger-cont
      .hamburger
      .hamburger-top
      .hamburger-bottom
    .mobile-nav-content
      .nav-item.works
        span.nav-title Works _
        ul.inner-list
          li.sculpture
            a.item-text(href="#/works/sculpture" data-btn-handle="sculpture") Sculpture
          li.inner-spaces
            a.item-text(href="#/works/inner-spaces" data-btn-handle="inner-spaces") Inner Spaces
          li.caves
            a.item-text(href="#/works/caves" data-btn-handle="caves") Caves
      .nav-item.about-me
        span.nav-title About me _
        ul.inner-list
          li.cv
            a.item-text(href="#/about" data-btn-handle="") Bio / CV