.main-nav
  a.home-link(href="#/")
    span.item-text Tomas
    span.item-text Chernov
  .nav-item.works
    a(href="#/works").item-text Works
    span.expand
    ul.inner-list
      li
        a(href="#/works/inner-spaces") Inner Spaces
      li
        a(href="#/works/caves") Caves
  .nav-item
    a(href="#/cv").item-text CV
  .nav-item
    a(href="#/bio").item-text Bio
  //- a.nav-item(href="#/restos")
  //-   span.item-text Restos
  //-   span.item-text-en Leftovers
  //- a.nav-item(href="#/manufactura")
  //-   span.item-text Manufactura
  //-   span.item-text-en Manufactures