.not-found-page
  display flex
  flex-direction column
  justify-content center
  align-items center
  height 100%
  .back-to-latest
    margin-top 10px
    a
      border-bottom 1px solid black
      transition color 0.05s ease
      &:hover
        color #888
        border-bottom 0
  .sad-face
    font-size 22px
    transform rotateZ(-90deg)
    margin-bottom 30px
    .eyes
      position relative
      top -2px
      left 4px