#about
  .bio-container
    img.me-image(src="https://graph.facebook.com/1020394548/picture?type=large")
    .bio-content
      | Nací el 11 de julio de 1992 en Buenos Aires. Estudié artes visuales en la UMSA asistiendo a la par al taller de pintura experimental de
      a(href="http://www.boladenieve.org.ar/artista/20692/mingo-jorge") Jorge Mingo. 
      | Participé de la beca para jovenes
      a(href="http://proyectarte.org") Proyectarte 
      | en dos ocasiones, teniendo como profesores a 
      a(href="http://www.maxgomezcanle.com.ar") Max Gomez Canle, 
      a(href="http://www.ernestoballesteros.com") Ernesto Ballesteros, 
      a(href="http://www.karinapeisajovich.com") Karina Peisajovich, 
      a(href="http://www.sicardi.com/artists/pablo-siquier") Pablo Siquier,
      | y
      a(href="https://luxlindner.com") Lux Lindner,
      | entre otros.
      | Luego comencé a asistir al taller de 
      a(href="http://cynthiakampelmacher.blogspot.com.ar") Cynthia Kampelmacher 
      | al cual asisto hasta el día de la fecha.
  .contact-container
    span Contacto: 
      b Chernatom@gmail.com