#about
  max-width 980px
  margin 0 auto
  padding 50px 20px
  .me-image
    width 100px
    height 100px
    background-color #aaa
    float right
    margin 0 15px 15px 15px
  .bio-content
    width 100%