#about
  img.me-image(src="")
  .bio-content
    | Nací el 11 de julio de 1992 en Buenos Aires. Estudié artes visuales en la UMSA asistiendo a la par al taller de 
    a(href="http://www.boladenieve.org.ar/artista/20692/mingo-jorge") Jorge Mingo. 
    | Participé de la beca 
    a(href="http://proyectarte.org") Proyectarte 
    | en dos ocasiones, teniendo como profesores a 
    a(href="http://www.maxgomezcanle.com.ar") Max Gomez Canle, 
    a(href="http://www.ernestoballesteros.com") Ernesto Ballesteros, 
    a(href="http://www.karinapeisajovich.com") Karina Peisajovich, 
    a(href="http://www.sicardi.com/artists/pablo-siquier") Pablo Siquier, 
    a(href="https://luxlindner.com") Lux Lindner. 
    | Luego comencé a asistir al taller de 
    a(href="http://cynthiakampelmacher.blogspot.com.ar") Cynthia Kampelmacher 
    | al cual asisto hasta el día de la fecha.