include ../base/mixins

#2016
  +images-section
    +image-set
      +image-slider
        +image-box(['img/Alambre 1.jpg', 'img/Alambre 6.jpg', 'img/Alambre 3.jpg', 'img/Alambre 4.jpg', 'img/Alambre 5.jpg', 'img/Alambre 11.jpg', 'img/Alambre 12.jpg'])
          +image-description('"Sin Titulo (Alambres)"', '2016')
    +image-set
      +image-slider
        +image-box(['img/manufactura 1 - 1.jpg', 'img/manufactura 1 - 2.jpg'])
          +image-description('"Sin Titulo (Manufactura 1)"', '2016')
    +image-set
      +image-slider
        +image-box(['img/manufactura 2 - 1.jpg', 'img/manufactura 2 - 2.jpg'])
          +image-description('"Sin Titulo (Manufactura 2)"', '2016')
    +image-set
      +image-slider
        +image-box(['img/Cueva 1.jpg', 'img/Cueva 2.jpg', 'img/Cueva 3.jpg'])
          +image-description('"Sin Titulo (Cuevas)"', '2016')