include ../base/mixins

#alambres
  +images-section
    +image-box('img/Alambre-11.jpg')
    +image-box('img/Alambre-5-web.jpg')
    +image-box('img/Alambre-12-web.jpg')
    +image-box('img/Alambre-2-web.jpg')
