include ../base/mixins

#sculpture
  +images-section
    +image-set
      +image-slider
        +image-box(['img/x, 2x - 1.jpg', 'img/x, 2x - 2.jpg'])
          +image-description('"x, 2x"', '2017')
    +image-set
      +image-box(['img/0,5k, 6k.jpg'])
        +image-description('"0,5k, 6k"', '2017')
    +image-set
      +image-box(['img/1 distinto de 1.jpg'])
        +image-description('"1 =/= 1"', '2017')
