*
  margin 0
  padding 0
  border 0
  outline 0
  box-sizing border-box

html, body
  width 100%
  height 100%
  font-family 'Raleway', Helvetica, sans-serif
  background-color #fafafa
  color #444448
  line-height 1.5

a
  color #88888A
  text-decoration none
  transition color 0.2s ease-in-out
  &:hover
    color #222226

.inner-body
  display flex
  opacity 1
  transition opacity 0.3s ease-in-out
  &.hide
    opacity 0
    transition none