// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 100%;

// Define your breakpoints
// By pixel density

// By Width
$desktop1440: (max-width 1440px);
$desktop1280: (max-width 1280px);
$desktop1050: (max-width 1050px);
$desktop980: (max-width 980px);
$desktop850: (max-width 850px);
$tablet: (768px);
$mobile: (480px);
$mobile320: (max-width 320px);

// By Height
$under920: (max-height 920px);
$under800: (max-height 800px);
$under700: (max-height 700px);

// Show grid
$visual-grid: false;