.image-set
  position relative
  flex 1 1 auto
  display flex
  flex-direction column
  align-items center
  justify-content center
  padding 40px
  &:after,
  &:before
    content ''
    height 50px
    width 1px
    background-color #aaa
    position absolute
    left 40px
    bottom 40px
  &:after
    width 100px
    height 1px
.image-box-outer
  padding 0 40px 40px 40px
  .image-wrapper
    position relative
    padding 20px 0
    cursor pointer
  .image-box-img
    display block
    pointer-events none
    user-select none
    margin 0 auto
    width auto
    height auto
    max-height 60vh
    max-width: 100%;
.image-description-cont
  position relative
  align-self start
  text-align center
  font-size 12px
  border-bottom 1px solid #aaa
  &:before
    content ''
    height 50px
    width 1px
    background-color #aaa
    position absolute
    left 0
    top 100%
  .work-name
    font-size 16px