.main-outer
  display flex
  flex-direction row
  @media (max-width: $tablet)
    flex-direction column
.main-content
  position relative
  width 100%
  padding-bottom 40px
.inner-body
  display flex
  opacity 1
  flex 1 1 auto
  overflow hidden
  transition opacity 0.3s ease-in-out
  &.hide
    opacity 0
    transition none
.images-section
  width 100%
  display flex
  flex-direction column
  justify-content center