.side-nav-fake-hover {
  height: 100%;
  position: absolute;
  @include span-columns(2.5);
  @include omega;
  z-index: 475;
  backface-visibility: hidden;
}

.side-nav {
  position: fixed;
  height: 100%;
  z-index: 500;
  background-color: #fff;
  // overflow: hidden;
  opacity: 0.5;
  @include transition(all .3s ease);
  @include transform(translateZ(0));
  backface-visibility: hidden;
}

// .menu-indicator {
//   position: absolute;
//   top: 50%;
//   right: 10px;
//   height: 40px;
//   @include transform(translateY(-50%));

//   &:before {
//     content: '';
//     position: absolute;
//     display: inline-block;
//     @include size(20px);
//     top: -10px;
//     @include transform(skewX(45deg));
//     border-right: 1px dashed black;
//   }
//   &:after {
//     content: '';
//     position: absolute;
//     display: inline-block;
//     @include size(20px);
//     top: 10px;
//     @include transform(skewX(-45deg));
//     border-right: 1px dashed black;
//   }
// }

.side-nav-fake-hover:hover {
  backface-visibility: hidden;
  .side-nav {
    @include span-columns(2.5);
    opacity: 1;
    @include transition(all .3s ease);
    backface-visibility: hidden;
  }

  .name-top-container,
  .name-bottom-container {
    text-align: center;
  }

  .name-top-min,
  .name-bottom-min {
    opacity: 1;
  }

  .side-sections {

    .mayus p {
      opacity: 1;
    }

    .english {
      opacity: 1;
      @include transition(all .3s ease);
    }

    .obra-title,
    .info-title {
      opacity: 1;
      @include transition(all .3s ease);
    }
  }
}

.is-hidden {
  @include span-columns(1);
}

.name-top-container {
  position: relative;
  margin: 100px auto 0;
  text-align: center;

  .name-top-cap {
    display: inline-block;
    font-size: 14px;
    font-weight: lighter;
    margin-left: 7px;
  }

  .name-top-min {
    display: inline-block;
    font-size: 12px;
    margin: 2px 0 0 1px;
    font-weight: lighter;
    position: absolute;
    opacity: 0;
    @include transition(all .3s ease);
  }
}

.name-bottom-container {
  position: relative;
  margin: 0 auto;
  text-align: center;

  .name-bottom-cap {
    display: inline-block;
    font-size: 14px;
    font-weight: lighter;
    margin-left: 7px;
  }
  .name-bottom-min {
    display: inline-block;
    font-size: 12px;
    margin: 2px 0 0 1px;
    font-weight: lighter;
    position: absolute;
    opacity: 0;
    @include transition(all .3s ease);
  }
}

#canvas-animation {
  position: absolute;
  width: 50%;
  margin-top: -15px;
  top: 100px;
}

.side-sections {
  margin-top: 50px;
  text-align: center;

  .section {
    display: block;
    position: relative;
    text-align: left;
  }

  .section-inner {
    height: 44px;
    margin: 15px 0;
  }

  .section-links {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    width: 50%;
    height: 100%;
    float: right;
  }

  .mayus {
    display: inline-block;
    font-size: 12px;
    font-weight: lighter;
    @include transition(all .3s ease);

    p {
      position: absolute;
      display: inline-block;
      font-size: 10px;
      margin: 2px 0 0 0;
      font-weight: lighter;
      @include transition(all .3s ease);
      opacity: 0;
    }
  }

  .english {
    position: absolute;
    // left: 50%;
    // margin-left: -4px;
    font-size: 12px;
    font-weight: lighter;
    border-top: 1px solid #aaa;
    opacity: 0;
    @include transition(all .3s ease);

    span {
      font-size: 10px;
      margin: 2px 0 0 0;
      font-weight: lighter;
    }
  }

  .side-section-obra,
  .side-section-info {
    position: relative;
    @include clearfix;
    min-height: 80px;
    margin-bottom: 20px;
  }

  .obra-title,
  .info-title {
    // position: absolute;
    float: left;
    height: 100%;
    // left: 0;
    // top: 50%;
    width: 50%;
    opacity: 0;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    // z-index: 50;
    // @include transform(translateY(-50%));
    @include transition(all .3s ease);

    span {
      font-weight: 200;
      font-size: 13px;
    }
  }

  .side-section-obra {

  }
  
  .side-section-info {
    

    a {
      white-space: nowrap;
    }
  }

}

.vertical-text {
  position: absolute;
  span {
    display: block;
    margin: 5px 0;
  }
}

.series-header {
  @include span-columns(11);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  position: fixed;
  z-index: 250;
  text-align: center;
  opacity: 0;
  // Do not paint Hack
  backface-visibility: hidden;

  .series-title {
    display: inline-block;
    font-weight: 300;
    font-size: 20px;
  }
  .series-description {
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
  }
}