.main-nav
  display flex
  flex-direction column
  justify-content center
  position absolute
  top 0
  left 0
  height 100%
  padding-left 20px
  z-index 150
  .nav-item
    position relative
    margin 8px 0
    padding-left 4px
    line-height 16px
    border-left 1px solid #000
    .item-text
      display block
      font-size 13px
      font-weight 300
      transition transform 0.16s ease-in-out
      &:hover
        transform translateX(7px)