.main-container {
  @include outer-container;
  @include shift(1);
  height: 100%;
  background-color: #fff;
  @include transition(all .3s ease);
}

.main-section {
  @include span-columns(12);
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

.image-counter {
  position: absolute;
  right: 45px;
  top: 50%;
  @include transform(translateY(-50%));
}

.img-container {
  height: 100%;
  position: relative;
  // opacity: 0;
  @include transition(opacity 0.3s ease-out);
  @include transform(translateZ(0));
  backface-visibility: hidden;

  img {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 90%;
    margin: 0 auto;
    top: 50%;
    cursor: pointer;
    @include transform(translateY(-50%));
  }

  &.not-shown {
    opacity: 0;
    @include transition(opacity 0.45s ease-in);
  }
}

.prev-arrow-container,
.next-arrow-container {
  position: absolute;
  right: 0;
  height: 50%;
  width: 100%;
  z-index: 450;
  cursor: pointer;
}

.prev-arrow-container {
  &:hover {
    .prev-arrow {
      right: 42px;
      @include size(30px);
      @include transition(all 0.18s ease-in-out);
    }
  }
}

.next-arrow-container {
  top: 50%;
  &:hover {
    .next-arrow {
      right: 42px;
      @include size(30px);
      @include transition(all 0.18s ease-in-out);
    }
  }
}

.next-arrow {
  display: inline-block;
  background: url('../images/optimized/triangle-inv.svg') center center no-repeat;
  @include size(15px);
  background-size: contain;
  position: absolute;
  top: 15px;
  right: 50px;
  @include transition(all 0.18s ease-in-out);
}

.prev-arrow {
  display: inline-block;
  background: url('../images/optimized/triangle.svg') center center no-repeat;
  background-size: contain;
  @include size(15px);
  position: absolute;
  bottom: 15px;
  right: 50px;
  @include transition(all 0.18s ease-in-out);
}

@include media($desktop1050) {
  .main-section {
    
  }
}