#obra
  .obra-blocks-container
    .obra-block
      a(href="#/obra/restos")
        img.block-img(src="img/Cueva-2.jpg")
        .block-caption
          span.item-text Restos
          span.item-text-en Rests
    .obra-block
      a(href="#/obra/alambres")
        img.block-img(src="img/Cueva-2.jpg")
        .block-caption
          span.item-text Alambres
          span.item-text-en Wires